<div class="container-login100">
  <div class="wrap-login100">
    <form [formGroup]="loginForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">

      <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
      </span>

      <span class="login100-form-title p-b-34 p-t-27">
        Log in
      </span>

      <div class="wrap-input100 validate-input" data-validate="Enter your email">
        <input class="input100" type="text" placeholder="Email" formControlName="username">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" type="password" placeholder="Password" formControlName="password">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
          Login
        </button>
      </div>

      <div class="text-center p-t-90">
        <a class="txt1" href="#" [routerLink]="'/register'">
          Register now!
        </a>
      </div>
    </form>
  </div>
</div>
