:host {
  display: flex;
  justify-content: center;
}

/*.login-card {
  width: 60%;
  margin: 40%;
}*/

mat-form-field {
  width: 100%;
}

.alert-danger {
  background-color: #f44336; /* Red */
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
