<div class="wrap-login100">
  <form class="login100-form validate-form" (ngSubmit)="onSaveButton()">

    <span class="login100-form-logo">
      <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
      Assign role to your user!
    </span>

    <div class="wrap-input100 validate-input" data-validate="Enter your email">
      <input class="input100" type="text" [(ngModel)]="user.name" placeholder="{{user.name}}" name="username">
      <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="wrap-input100 validate-input">
      <input class="input100" type="text" [(ngModel)]="user.lastName" name="lastname" placeholder="{{user.lastName}}">
      <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="txt1">
      <label class="example-margin">Assign role!</label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button *ngFor="let role of roles" [value]="role.roleId" [checked]="role.isAssigned" (click)="Assign(role.roleId)">{{role.name}}</mat-radio-button>
      </mat-radio-group>
    </div><br/><br/>

    <div class="container-login100-form-btn">
      <button class="login100-form-btn">
        SAVE!
      </button>
    </div>
  </form>
</div>

