
<div class="card-inside">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="usersList" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align:right"></th>
        <td mat-cell *matCellDef="let element" style="text-align:right">
          <button mat-raised-button (click)="assignRoleButton(element.userId)">Assign Role</button>
          <button mat-raised-button color="warn" (click)="userDeleteButton(element.userId)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>

