<div class="container-login100">
  <div class="wrap-login100">
    <form class="login100-form validate-form" (ngSubmit)="onSubmit()">

      <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
      </span>

      <span class="login100-form-title p-b-34 p-t-27">
        Register
      </span>

      <div class="wrap-input100 validate-input" data-validate="Enter your Name">
        <input class="input100" type="text" placeholder="Name" name="name" [(ngModel)]="registerUserModel.name">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Enter your Last Name">
        <input class="input100" type="text" placeholder="Last Name" name="lastName" [(ngModel)]="registerUserModel.lastName">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Enter your email">
        <input class="input100" type="text" placeholder="Email" name="email" [(ngModel)]="registerUserModel.email">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" type="password" placeholder="Password" name="password" [(ngModel)]="registerUserModel.password">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
