<mat-toolbar color="primary">
  <mat-toolbar-row class="fill-remaining-space">
    <span>Hello {{user.name}}</span>
    <div>
      <button (click)="logout()" mat-raised-button>Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
